<h1>Status List</h1>
<table class="table table-striped table-bordered table-condensed">
<thead>
  <tr><td>Date</td><td>Status</td></tr>
</thead>
<% @statuses.each do |status| %>
<tr>
  <td><%= status[:status_created_at]%></td>
  <td><%= status[:post] %></td>
</tr>
<% end %>
</table>



