<%= Rails.application.config.twitterKeys[:consumer_key] %>

<h1>Scluster (Show action)</h1>



<ul>


  <% @group_feed.each  do |tweet| %>
    <li><%= "#{tweet.user[:name]}: #{tweet.text}" %></li>
  
  <% end %>
</ul>


