<h2 id="group-name">Welcome to <%= @group.name %>!</h2>

<% if !flash[:notice].blank? %>
  <div class="flash-notice well">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="container">
  <div class="span3">
    <h3>Member list</h3>
    <%= button_to "Become a member", :action => "create" %>
      <ul>
        <% @members.each do |member| %>
        <li><%= member.name %></li>
        <% end %>
      </ul>
  </div>
</div>





<div>
  <%#= #link_to 'Add Member', new_group_member_path(@group), :class => 'btn' %>
</div>


